.project {
  margin: 15px 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.image,
.content {
  border-style: solid;
  border-width: 1.5px;
}

.content {
  border-left: 0;
}

@media (max-width: 768px) {
  .project {
    width: 80vw;
    position: relative;
    left: 10vw;
    border-style: solid;
  }
  .image {
    height: 30vh;
    border-style: none;
  }

  .content {
    border-style: none;
  }

  .content p {
    font-size: 13px;
  }
}
